/* ====================================
|-----FONT FAMILY FOR THE WEB PAGE------|
====================================== */

@font-face {
font-family:"Consola";
src: url(./font-family/CONSOLA.TTF);
}



/* ====================================
|------------LITTLE RESET-------------|
====================================== */

*, 
*::before, 
*::after {
box-sizing: border-box;
scroll-behavior: smooth;
scroll-padding-top: 190px;
}

html,body{
height: 100%;
}


*:not(ul) {
margin: 0;
padding: 0;
}

a{
text-decoration: none;
}

body{
font-family: "Consola", sans-serif;
}

/* =========================================
|------------NAVIGATION SECTION-------------|
===========================================*/
#navbar{
position: fixed;
top: 0;
left: 0;
right: 0;
color: white;
z-index: 99;
padding: 1rem;
border-radius: 0px;
background: #10163f;
box-shadow: inset 20px -20px 60px #0e1336,
            inset -20px 20px 60px #121948;
padding:1.5rem 0;
}
    
    
#navbar header{
text-shadow:2px 3px 0px #898999;
display: flex;
align-items: center;
}

header h1{
margin-right: auto;
margin-left: auto;
font-size:2.5rem;

}




.navLinksContainer{
display: flex;
justify-content: center;
}

    
.nav-link{
padding: 8px 1rem;
margin: 10px 0;
text-decoration: none;
color: white;
letter-spacing: 0.094em;
cursor: pointer;
}

.nav-link:hover{
border-width: 3px 3px 3px 0;
border-color: #E2735E;
border-style: double;
}

.icon{
display: none;
}


svg{
color: #fff;
text-align: center;
font-size: 1.4em;
padding:.5rem;
margin:0 .95rem;
border-radius: 29px;
background: #373F71;
box-shadow: inset -5px 5px 10px #16192d, 
inset 5px -5px 10px #5865b5;
transition: display 3s ease-in-out;
cursor: pointer;
}

/* ===============================================================================
|------------STYLING ON THE MAIN SECTION, ITS CHILDREN AND DESCEDANTS-------------|
==================================================================================*/

#main-doc{
margin-top: 190px;
}

.main-section{
max-width: 1440px;
width: 88%;
margin: 32px auto;
padding:8px 24px;
}



.sub-section-left h2{
font-size: 19.5px;
font-weight: 600;
}





.sub-section{
margin-top: 2rem;
display: grid;
grid-template-columns: 40% 50%;
gap: 4.5rem;
}

.sub-section-right{
border-radius: 0px;
background: #eaeaea;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
margin-bottom: 30px;
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
gap: 8px;
overflow: auto;
}



.sub-section-left p{
line-height: 1.5;
}

footer{
background-color: #f2f2f2;
position: sticky;
top: 100vh;
}

.copyright{
text-align: center;
font-size:1.5rem;
color: #171717;
padding: 2rem;

}

#reference a{
color: #000;
cursor: pointer;
}

#reference a:hover{
font-weight: bold;
}



/* ====================================
|------------MEDIA QUERY-------------|
====================================== */
@media (max-width:928px) {
   

    html{
    scroll-padding-top: 150px;
    }


    .icon{
    display: block;
    }

    .icon > .bi-x{
    display: none;
    }


    header h1{
    font-size: 2rem;
    }

    .navLinksContainer{
    margin-top: 16px;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    display: none;
    transform: translateY(-100%);
    background: #10163f;
    box-shadow: inset 20px -20px 60px #0e1336,
            inset -20px 20px 60px #121948;
 
    }


    .nav-link{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    padding: 12px;
    text-align: center;
    border-radius: 0px;
    background: linear-gradient(145deg, #0e1439, #111843);
    box-shadow:  5px 5px 10px #060919,
                -5px -5px 10px #1a2365;
    transition: padding 0.8s ease;
    }

    
    .nav-link:hover{
    border: 0;
    padding: 8px;
    transition: padding .8s ease ;
    }

    .sub-section{
    grid-template-columns:  1fr;
    gap: 18px;
    
    }      


}

@media (min-width:360px) and (max-width:884px) {

html{
    scroll-padding-top: 130px;
}    
.navLinksContainer{
justify-content: flex-start;
row-gap: 2.5rem;
}

/* .main-section{
margin-top: 30px;
margin-top: 30px;
} */
}

